{{#partial "content"}}
<div class="container">
    <select id="choix" name="choix" class="box">
        <option value="en">En</option>
        <option value="fr">Fr</option>
    </select>
</div>
{{#if categories}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Category</li>
    </ol>
</nav>
<section class="job-domaines-section p-tp-90 p-btm-120">
    <h2 class="section-title m-bt-50 text-center">Category Pokemons</h2>
    <div class="container">
        <div class=" row job-domaines">
            {{#each categories.categoriesPokemons}}
            <div class="col-lg-3 col-md-6 job-domaine">
                <div class="domaine-content" onclick="window.location.href='/category/{{this.name}}'">
                    <h4 class="domaine-title">{{this.name}}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}
{{#if categorys}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
</nav>
<section class="job-domaines-section p-tp-90 p-btm-120">
    <h2 class="section-title m-bt-50 text-center">les Categories des Pokemons</h2>
    <div class="container">
        <div class=" row job-domaines">
            {{#each categorys}}
            <div class="col-lg-3 col-md-6 job-domaine">
                <div class="domaine-content"
                    onclick="window.location.href='/categories/fr/{{@index_1}}?group={{this}}'">
                    <h4 class="domaine-title">{{this}}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}
{{#if categoriesFrench}}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Categories</li>
    </ol>
</nav>
<section class="job-domaines-section p-tp-90 p-btm-120">
    <h2 class="section-title m-bt-50 text-center">les Categories des Pokemons</h2>
    <div class="container">
        <div class=" row job-domaines">
            {{#each categoriesFrench.stringList}}
            <div class="col-lg-3 col-md-6 job-domaine">
                <div class="domaine-content"
                    onclick="window.location.href='/categories/fr/{{@index_1}}?group={{this}}'">
                    <h4 class="domaine-title">{{this}}</h4>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>
{{/if}}

{{/partial}}
{{> template.hbs}}