{{#partial "content"}}
<div class="container">
    <select id="choix" name="choix" class="box">
        <option value="en" id="select_en">En</option>
        <option value="fr" id="select_fr">Fr</option>
    </select>
</div>
<a href="/" class="link-home">HOME</a>
{{#if listPokemons.englich }}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/categories/en">Category</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{listPokemons.nomeOrnumGroup}}</li>
  </ol>
</nav>
<section class="job-domaines-section p-tp-90 p-btm-120">
  <h2 class="section-title m-bt-50 text-center">List of {{listPokemons.nomeOrnumGroup}} Pokemons</h2>
  <div class="container">
    <div class=" row job-domaines">
      {{#each listPokemons.pokemons}}
      <div class="col-lg-3 col-md-6 job-domaine">
        <div class="domaine-content"
          onclick="window.location.href='/categories/en/{{listPokemons.nomeOrnumGroup}}/{{this.name}}'">
          <h4 class="domaine-title">{{this.name}}</h4>
          <img src="{{this.imageUrl}}">
        </div>
        <span class="idpokim">{{this.idPoki}}</span>
      </div>
      {{/each}}
    </div>
    <div class="pagination">
      <a class="page-link" href="/categories/en/{{listPokemons.nomeOrnumGroup}}?page=prev" id="pre">Previous</a>
      <a class="page-link" href="/categories/en/{{listPokemons.nomeOrnumGroup}}?page=next" id="nex">Next</a>
    </div>
  </div>
  <input type="hidden" value="{{listPokemons.count}}" id="count">
  <input type="hidden" value="{{listPokemons.ifHasNext}}" id="verifNext">
</section>
{{/if}}

{{#if listPokemons.french}}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/categories/fr">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{listPokemons.nomGroup}}</li>
  </ol>
</nav>
<section class="job-domaines-section p-tp-90 p-btm-120">
  <h2 class="section-title m-bt-50 text-center">La liste des Pokemons {{listPokemons.nomGroup}}</h2>
  <div class="container">
    <div class=" row job-domaines">
      {{#each listPokemons.pokemons}}
      <div class="col-lg-3 col-md-6 job-domaine">
        <div class="domaine-content"
          onclick="window.location.href='/categories/fr/{{listPokemons.nomeOrnumGroup}}/{{this.url}}?nampoki={{this.name}}&group={{listPokemons.nomGroup}}'">
          <h4 class="domaine-title">{{this.name}}</h4>
          <img src="{{this.imageUrl}}">
        </div>
        <span class="idpokim">{{this.url}}</span>
      </div>
      {{/each}}
    </div>
    <div class="pagination">
      <a class="page-link"
        href="/categories/fr/{{listPokemons.nomeOrnumGroup}}?page=prev&group={{listPokemons.nomGroup}}"
        id="pre">Précédent</a>
      <a class="page-link"
        href="/categories/fr/{{listPokemons.nomeOrnumGroup}}?page=next&group={{listPokemons.nomGroup}}"
        id="nex">Suivant</a>
    </div>
  </div>

  <input type="hidden" value="{{listPokemons.count}}" id="count">
  <input type="hidden" value="{{listPokemons.ifHasNext}}" id="verifNext">

</section>
{{/if}}
<script>

</script>
<script type="text/javascript" src="/assets/js/pagination.js"></script>
{{/partial}}
{{> template.hbs}}